.box {
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__img {
    width: 283px;
  }

  &__title {
    position: relative;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../img/gradient-line.svg);
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 520px;
    margin-bottom: 30px;
  }

  &__btn {
    padding: 22px 58px;
    transition: 250ms linear;

    &:hover,
    &:focus {
      box-shadow: 0px 10px 20px rgb(0 0 0 / 12%), 0px 2px 6px rgb(0 0 0 / 12%),
        0px 0px 1px rgb(0 0 0 / 12%);
      background-color: rgba(1, 164, 164, 0.8588235294);
    }
  }
  &__decor {
    position: absolute;
    &--left {
      top: 30px;
      left: -320px;
    }

    &--right {
      width: 1105px;
      z-index: -1;
      top: -25px;
      right: 140px;
    }
  }
}
