html 
  include html/head
  body 
    include html/header
    main 
      //- MAIN
      section.main
        .container
          .primary-title.main__title
            h1 Everything You Need
          .primary-title
            p to Start Living
          .primary-title
            p Zero-Waste 
    include html/footer
    script(src="js/app.min.js")

